monitor-missing-error-handlers.json
{
  "name": "Monitor - Missing Error Handlers",
  "nodes": [
    {
      "name": "Daily 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -608,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 9
            }
          ]
        }
      }
    },
    {
      "name": "Get Active Workflows",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -400,
        0
      ],
      "parameters": {
        "resource": "workflow",
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "active": true
        }
      }
    },
    {
      "name": "Check Error Handlers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        0
      ],
      "parameters": {
        "jsCode": "const workflows = $input.all().map(i => i.json);\nconst skipTag = 'skip-monitoring';\nconst triggerTypes = [\n  'webhook', 'scheduletrigger', 'manualtrigger', 'errortrigger',\n  'emailtrigger', 'outlooktrigger', 'gmailtrigger', 'imaptrigger',\n  'slacktrigger', 'telegramtrigger', 'formtrigger', 'chattrigger'\n];\n\nconst missing = [];\nlet configuredCount = 0;\n\nfor (const wf of workflows) {\n  // Skip inactive workflows\n  if (!wf.active) continue;\n\n  // Skip archived workflows\n  if (wf.isArchived) continue;\n\n  // Skip workflows with skip-monitoring tag\n  const tags = wf.tags?.map(t => t.name?.toLowerCase() || t.toLowerCase()) || [];\n  if (tags.includes(skipTag)) continue;\n\n  // Check if it has a trigger (top-level) or is a subworkflow\n  const hasTrigger = wf.nodes?.some(n => triggerTypes.some(t => n.type?.toLowerCase().includes(t)));\n  if (!hasTrigger) continue;\n\n  if (wf.settings?.errorWorkflow) {\n    configuredCount++;\n  } else {\n    missing.push(wf.name);\n  }\n}\n\nreturn [{ json: { missing, missingCount: missing.length, configuredCount } }];\n"
      }
    },
    {
      "name": "Any Missing?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.missingCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        208,
        -96
      ],
      "parameters": {
        "errorMessage": "={{ $json.missingCount }} workflow(s) missing error handlers:\n• {{ $json.missing.join('\\n• ') }}"
      }
    },
    {
      "name": "All Good",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        208,
        112
      ],
      "parameters": {}
    },
    {
      "parameters": {
        "content": "## Monitor — Missing Error Handlers\n\nEnsures every active workflow with a trigger has an Error Workflow configured. Catches workflows that would fail silently because nobody wired up error handling. Pair with a Global Error Handler workflow for full coverage.\n\n### How it works\n1. Fetches all active workflows via the n8n API\n2. Filters to workflows that have a trigger node (schedule, webhook, email, etc.)\n3. Skips archived workflows and those tagged `skip-monitoring`\n4. Checks if each workflow has an `errorWorkflow` set in its settings\n5. If any are missing → raises an error listing them all\n\n### Setup steps\n1. Add your **n8n API credential** to the \"Get Active Workflows\" node\n2. Tag this workflow with `skip-monitoring` so it skips itself\n3. Set an **Error Workflow** in this workflow's settings to get alerted\n4. Activate the workflow\n\n### Customization\n- Change the schedule (default: daily at 9am)\n- Edit the `skipTag` variable in the Code node to use a different exclusion tag\n- Add or remove trigger types from the `triggerTypes` array",
        "height": 530,
        "width": 460,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1020,
        -220
      ],
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Discovery & Check",
        "height": 200,
        "width": 520
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -420,
        -100
      ],
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Alert or OK",
        "height": 360,
        "width": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -20,
        -196
      ],
      "name": "Sticky Note2"
    }
  ],
  "connections": {
    "Get Active Workflows": {
      "main": [
        [
          {
            "node": "Check Error Handlers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Error Handlers": {
      "main": [
        [
          {
            "node": "Any Missing?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Missing?": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "All Good",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 9am": {
      "main": [
        [
          {
            "node": "Get Active Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}