sequential-prompts.json
{
  "name": "Sequential AI Prompts Test",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt1",
              "name": "prompts",
              "type": "array",
              "value": "={{ ['What is 2+2?', 'Now multiply that by 3', 'Subtract 5 from the result'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-prompts",
      "name": "Define Prompts",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0]
    },
    {
      "parameters": {
        "fieldToSplitOut": "prompts",
        "options": {}
      },
      "id": "split-out",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [440, 0]
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "loop",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [660, 0]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompts }}",
        "options": {}
      },
      "id": "agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [880, 0]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "openai-chat",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [880, 220]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "sequential-test"
      },
      "id": "memory",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [1040, 220]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData"
      },
      "id": "aggregate",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1100, 0]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Define Prompts", "type": "main", "index": 0 }]]
    },
    "Define Prompts": {
      "main": [[{ "node": "Split Out", "type": "main", "index": 0 }]]
    },
    "Split Out": {
      "main": [[{ "node": "Loop Over Items", "type": "main", "index": 0 }]]
    },
    "Loop Over Items": {
      "main": [
        [{ "node": "Aggregate Results", "type": "main", "index": 0 }],
        [{ "node": "AI Agent", "type": "main", "index": 0 }]
      ]
    },
    "AI Agent": {
      "main": [[{ "node": "Loop Over Items", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Window Buffer Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
